{% extends 'base.html.twig' %}

{% block body %}
    <div>The confirmation was successful. Thank you for joining our efforts. Now you can go HERE to log in to the Editor dashboard.</div>
{% endblock %}